# Site settings
course_name: Linear Algebra
course_description: " This course covers matrix theory and linear algebra, emphasizing topics useful in other disciplines. Linear algebra is a branch of mathematics that studies systems of linear equations and the properties of matrices. The concepts of linear algebra are extremely useful in image processing, computer vision, data science, machine learning, bio-informatics, social networks, and neuroscience. Due to its broad range of applications, linear algebra is one of the most widely taught subjects in college-level mathematics."
course_semester: "Spring 2024"

baseurl: "/inearalgebra" # the subpath of your site, e.g. /blog/
url: "http://sut-ce-courses.github.io/" # the base hostname & protocol for your site

schoolname: "Sharif University of Technology"
schoolurl: "https://sharif.edu"
twitter_username: maar1395

address: |
    Computer Engineering Department
    Sharif University of Technology
    Tehran

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
