---
layout: page
---

{{ content }}

<ul id="archive">
{% for taclass in site.taclass %}
<li class="archiveposturl" style="background: transparent">
<div class="taclass-container">
    {% if taclass.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ taclass.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ taclass.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ taclass.title }}</span><br>

        <strong>tl;dr:</strong> {{ taclass.tldr }}
        <br/>
         <strong>
        {% include taclass_links.html taclass=taclass %}
        </strong>
        {% if taclass.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ taclass.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>
